#root, .App, .Site, html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}
.Site{
  min-height: 100%;
  display: flex;
  flex-direction: column;
  color: #FFF;
  align-items: flex-start;
}
.Header{
  flex-grow: 0;
  flex-shrink: 0;
  height: 120px;
  background-color: #141414;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  border-bottom: 1px solid #616161;
}
.Title{
  flex-grow: 2;
  width: 200px;
  height: 78px;
}
.TitleImage{
  width: 200px;
  height: 78px;
  cursor: pointer;
  margin: auto;
  padding: 0 20px;
}
nav{
  display: flex;
  height: auto;
}
.Menu{
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  height: auto;
  line-height: 120px;
  align-self: flex-end;
}
.MenuItem{
  height: auto;
  padding: 0px 40px;
  color: #616161;
  border-bottom: 5px solid #000;
  margin: 0px 20px;
}
.MenuItem:hover{

}
.ActiveMenuItem{
  color: #A5A5A5;
  border-bottom: 5px solid #616161;
}
.MenuItem a:link {
  color: #616161
}
.Content{
  flex-grow: 1;
  background-color: #141414;
  width: 100%;

}
.Section{
  flex-basis: 400px;
  min-height: 400px;
  width: 100%;
  color: #616161;
}
.Landing{
  align-items: center;
  background-color: #333;
  display: flex;
  line-height: 53px;

}
.Greeting{
  margin: auto;
  width: 500px;
  height: 200px;
}
.Services{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.Service{
  display: flex;
  flex-direction: column;
  height: 200px;
  width: 600px;
  margin: 20px auto;
}
.Contact{
  margin: auto;
}
.ContactForm{
  margin: auto;
  width: 500px;
  height: 500px;
  input{
    width: 500px;
    height: 30px;
  }
  textarea{
    vertical-align: top;
    width: 500px;
    height: 200px;
    resize: none;
  }
  .button {
    background: #E27575;
    border: none;
    padding: 10px 25px 10px 25px;
    color: #FFF;
    box-shadow: 1px 1px 5px #B6B6B6;
    border-radius: 3px;
    text-shadow: 1px 1px 1px #9E3F3F;
    cursor: pointer;
    }
  .button:hover {
    background: #CF7A7A
  }
}
.Footer{
  flex-grow: 0;
  flex-shrink: 0;
  background-color: #141414;
  text-align: center;
  color: #616161;
  width: 100%;
  border-top: 1px solid #616161;
  a:link{
    text-decoration: none;
  }

}
.socialLinks{
  display: flex;
  justify-content: space-around;
  padding: 20px;
  width: 300px;
  margin: 0 auto;
}
.Home{

}
.ProjectList{
  width: 900px;
  margin: 0px auto;
}
.Team{
  width: 900px;
  margin: 0px auto;
}
.TeamMember{
  display: flex;
  width: 800px;

}
.MemberPhoto{
  width: 200px;
  height: 200px;
  padding: 20px;
}
.MemberDetails{
  padding: 20px;
  line-height: 25px;
}
.About{
  width: 900px;
  margin: 0px auto;
  line-height: 25px;
}
a {
  color: #616161
}
a:link{
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}
a:hover {
  color: #CCC
}
