#root, .App, .Site, html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}
.Site{
  min-height: 100%;
  display: flex;
  flex-direction: column;
  color: #FFF;
  align-items: flex-start;
}
.Header{
  flex-grow: 0;
  flex-shrink: 0;
  height: 120px;
  background-color: #141414;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}
.Title{
  line-height: 120px;
  padding: 0px 20px;
  height: auto;
  flex-grow: 2;
}
nav{
  display: flex;
  height: auto;
}
.Menu{
  display: flex;
  flex-grow: 3;
  justify-content: space-around;
  height: auto;
  line-height: 120px;
  align-self: flex-end;
}
.MenuItem{
  height: auto;
  padding: 0px 40px;
  color: #616161
}
.MenuItem:hover{
  color: #FFF;
}
.ActiveMenuItem{
  color: #A5A5A5;
}
.MenuItem a:link {
  color: #616161
}
.Content{
  flex-grow: 1;
  background-color: #141414;
  width: 100%;

}
.Section{
  flex-basis: 400px;
  min-height: 400px;
  width: 100%;
  color: #616161;
}
.Landing{
  align-items: center;
  background-color: #333;
  display: flex;
  line-height: 53px;

}
.Greeting{
  margin: auto;
  width: 500px;
  height: 200px;
}
.Services{
  display: flex;
  justify-content: space-around;
}
.Service{
  display: flex;
  flex-direction: column;
  height: 200px;
  margin: auto;
}
.Contact{

  margin: auto;
}
.ContactForm{
  margin: auto;
  width: 500px;
  height: 300px;
}
.Footer{
  flex-grow: 0;
  flex-shrink: 0;
  background-color: #141414;
  text-align: center;
  color: #616161;
  width: 100%;
}
.Home{

}
a {
  color: #616161
}
a:hover {
  color: #CCC
}
