#root, .App, .Site, html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}
.Site{
  display: flex;
  flex-direction: column;
  color: #FFF
}
.Header{
  height: 120px;
  background-color: #141414;
  display: flex;
  justify-content: space-between;
}
.Title{
  line-height: 120px;
  padding: 0px 20px;
  height: auto;
}
nav{
  display: flex;
  height: auto;
}
.Menu{
  display: flex;
  flex-grow: 1;
  justify-content: space-around;
  height: auto;
  line-height: 120px;
}
.MenuItem{
  height: auto;
  padding: 0px 20px;
}
.MenuItem:hover{
  background-color: #000;
  padding: 0px 20px;
}
.ActiveMenuItem{

}
.MenuItem a:link {
  color: #fff
}
.Content{
  flex-grow: 1;
  background-color: #4B4A41;
}
.Footer{
  height: 120px;
  background-color: #141414;
}
.Home{
  background-color: #FFFFF7;
  flex-grow: 1;
}
a {
  color: #FFF
}
a:hover {
  color: #CCC
}
